<div class="container">
    <div class="row">
        <!-- Joinville Park Section -->
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="text-center">
                <h3 class="section-heading text-center">Joinville Park</h3>
                <hr class="light">
                <p>
                    Joinville Park is in San Mateo off of Kehoe Ave.
                    There is a parking lot at the end of this <a href="https://maps.app.goo.gl/8Sn986wVD48vWXqp6">little street off of Kehoe.</a>
                    There is a swimming pool in the park if you feel like taking a dip!
                </p>
            </div>
        </div>
        <!-- Weather Section -->
        <!-- <div class="col-lg-6 d-flex justify-content-center">
            <div class="text-center">
                <h3 class="section-heading text-center">Weather</h3>
                <hr class="light">
                <a class="weatherwidget-io" href="https://forecast7.com/en/37d78n122d42/san-mateo/" data-label_1="SAN MATEO" data-label_2="WEATHER" data-theme="original">SAN MATEO WEATHER</a>
                <script>
                    !function(d,s,id){
                        var js,fjs=d.getElementsByTagName(s)[0];
                        if(!d.getElementById(id)){
                            js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
                            fjs.parentNode.insertBefore(js,fjs);
                        }
                    }(document,'script','weatherwidget-io-js');
                </script>
            </div>
        </div> -->
    </div>
</div>

